In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [2]:
# default cleaning method until proven otherwise
def clean_census_frame(csv_path , head=False , reset=True , set_index=False ):
    '''
    inputs) 
        >> csv_path
            > path to csv
        >> head
            > default=False
                >> if != False
                    > integer
                        >> returns the first {head} rows (using .head() method) 
                            > instead of enitre dataframe
        >> reset
            > default=True
                >> resets index after taking out rows
            > if set to False
                >> will not reset index
        >> set_index
            > default=False
            > if != False
                >> will set_index of new df to set_index
    output)
        >> dataframe cleaned like 2000 Census age&sex by 5-digit Zip Code (also how 2010 for same is cleaned)
    how)
        1. reads in csv , assumes it's large
        2. makes a copy for editing 
            > and potential future use
        3. locates readable column names  and non-readable names 
            > readable
                    > e.g. Estimate; SEX AND AGE - Total population
                >> assumes they are currently in row 0
            > non-readable
                    > e.g. HC01_VC03
                >> assumes they are currently == dataframe.columns
        4. replaces dataframe.columns (non-readable) with readable column names
            > and drops the old 0th column (column where readable names were stored)
        
    '''
    # load data
    df = pd.read_csv( csv_path , low_memory=False )

    # and copy
    _df = df.copy()

    # reset column names to current 0th row values
    _df.columns = _df.iloc[0]
    # new 2000 dataframe without row where values are from
    clean_df = _df[1:]
    
    # default
    if reset==True:
        # reset index
        clean_df = clean_df.reset_index()
        
    # set_index
    if set_index:
        clean_df = clean_df.set_index(set_index)
    
    if head:
        # return first {head} rows of dataframe
        return clean_df.head(head)
    else:
        # return dataframe
        return clean_df

In [ ]:
def bring_the_5yr_acs_2k11_thru_2k17():
    '''
    inputs)
        >> list_of_paths
            > paths to each raw dataframe
    output)
        >> list of modified dataframes
    function)
        1. load and copy data
        2. 
    '''
    # load 2011 
    y2k11 = clean_census_frame('../data/acs/aff_download/ACS_11_5YR_DP05_with_ann.csv',reset=False)
    # copy
    y11 = y2k11.copy()
    # 2012
    y2k12 = clean_census_frame('../data/acs/aff_download/ACS_12_5YR_DP05_with_ann.csv',reset=False)
    y12 = y2k12.copy()
    #2013
    y2k13 = clean_census_frame('../data/acs/aff_download/ACS_13_5YR_DP05_with_ann.csv',reset=False)
    y13 = y2k13.copy()
    # 2014
    y2k14 = clean_census_frame('../data/acs/aff_download/ACS_14_5YR_DP05_with_ann.csv',reset=False)
    y14 = y2k14.copy()
    # 2015
    y2k15 = clean_census_frame('../data/acs/aff_download/ACS_15_5YR_DP05_with_ann.csv',reset=False)
    y15 = y2k15.copy()
    #2016
    y2k16 = clean_census_frame('../data/acs/aff_download/ACS_16_5YR_DP05_with_ann.csv',reset=False)
    y16 = y2k16.copy()
    #2017
    y2k17 = clean_census_frame('../data/acs/aff_download/ACS_17_5YR_DP05_with_ann.csv',reset=False)
    y17 = y2k17.copy()

    '''copy data for editing and extracting info'''
    # 2011
    # 2012
    # 2013
    # 2014
    # 2015
    # 2016
    # 2017

    '''identify columns'''
    # 2011
    tags11 = y11.columns  
    # 2012
    tags12 = y12.columns  
    #2013
    tags13 = y13.columns  
    # 2014
    tags14 = y14.columns  
    # 2015
    tags15 = y15.columns  
    #2016
    tags16 = y16.columns  
    # 2017
    tags17 = y17.columns 

    '''identify common columns'''
    # collection of columns appearing in all 7 dataframes 2011-2017
    common_tags = [tag for tag in tags17 if tag in tags11 & tags12 & tags13 & tags14 & tags15 & tags16]

    '''identify non common columns for specific frames'''
    # 2011
    uncommon_11 = [tag for tag in y11.columns if tag not in common_tags]
    # 2012
    uncommon_12 = [tag for tag in y12.columns if tag not in common_tags]
    # 2013
    uncommon_13 = [tag for tag in y13.columns if tag not in common_tags]
    # 2014
    uncommon_14 = [tag for tag in y14.columns if tag not in common_tags]
    # 2015
    uncommon_15 = [tag for tag in y15.columns if tag not in common_tags]
    # 2016
    uncommon_16 = [tag for tag in y16.columns if tag not in common_tags]
    # 2017
    uncommon_17 = [tag for tag in y17.columns if tag not in common_tags]

    """drop each frame's uncommon columns, reset index"""
    # 2011
    y11 = y11.drop(uncommon_11,axis=1).reset_index()
    # # 2012
    y12 = y12.drop(uncommon_12,axis=1).reset_index()
    # # 2013
    y13 = y13.drop(uncommon_13,axis=1).reset_index()
    # # 2014
    y14 = y14.drop(uncommon_14,axis=1).reset_index()
    # # 2015
    y15 = y15.drop(uncommon_15,axis=1).reset_index()
    # # 2016
    y16 = y16.drop(uncommon_16,axis=1).reset_index()
    # # 2017
    y17 = y17.drop(uncommon_17,axis=1).reset_index()
    
    return [y11,y12,y13,y14,y15,y16,y17]

In [ ]:
# test = bring_the_5yr_acs_2k11_thru_2k17()
len(common_tags)

In [ ]:
test_000 = test.copy()

In [ ]:
for i in range(len(test_000)):
    print(f'{len(test_000[i])} rows x {len(test_000[i].iloc[1])} columns')

In [ ]:
# number of identical columns 2011 and 2012 is same number as all columns in 2011
# and count of columns in 2012 is same as count in 2011
if sum(test_000[0].columns == test_000[1].columns) == len(test_000[0].columns) and len(test_000[1].columns) == len(test_000[0].columns):
    # number of columns for 2013 is same as number that are same between 2013 and 2014 and between 2014 and 2015 
    if len(test_000[2].columns) == sum(test_000[2].columns == test_000[3].columns) & sum(test_000[3].columns == test_000[4].columns):
        # number of columns for 2017 is same as number that are same between 2016 and 2014 and between 2017 and 2015 
        if len(test_000[6].columns) == sum(test_000[5].columns == test_000[3].columns) & sum(test_000[6].columns == test_000[4].columns):
            if len(test_000[0].columns) != len(test_000[5].columns) and len(test_000[5].columns) == len(test_000[5].columns):
                print('pretty ok to assume\n2011-2012 are identical and 2013-2017 are identical\nbut 2011-2012 and 2013-2017 are different')

In [ ]:
_2k11 = test_000[0]
_2k15 = test_000[4]

In [ ]:
len(_2k11.columns), len(_2k15.columns)

In [ ]:
len(set(_2k11.columns)), len(set(_2k15.columns))

In [ ]:
out_15 = []
repeat_15=0
for i in _2k15.columns:
    if i not in out_15:
        out_15.append(i)
    else:
        print(i)
        repeat_15+=1
repeat_15

In [ ]:
out_11 = []
repeat_11 = 0
for i in _2k11.columns:
    if i not in out_11:
        out_11.append(i)
    else:
        print(i)
        repeat_11+=1        
repeat_11

In [15]:
'''identify columns'''
# 2011
a = clean_census_frame('../data/acs/aff_download/ACS_11_5YR_DP05_with_ann.csv',reset=False)
# 2012
b = clean_census_frame('../data/acs/aff_download/ACS_12_5YR_DP05_with_ann.csv',reset=False)
#2013
c = clean_census_frame('../data/acs/aff_download/ACS_13_5YR_DP05_with_ann.csv',reset=False) 
# 2014
d = clean_census_frame('../data/acs/aff_download/ACS_14_5YR_DP05_with_ann.csv',reset=False)
# 2015
e = clean_census_frame('../data/acs/aff_download/ACS_15_5YR_DP05_with_ann.csv',reset=False) 
#2016
f = clean_census_frame('../data/acs/aff_download/ACS_16_5YR_DP05_with_ann.csv',reset=False) 
# 2017
g = clean_census_frame('../data/acs/aff_download/ACS_17_5YR_DP05_with_ann.csv',reset=False)

In [16]:
'''identify common columns'''
# collection of columns appearing in all 7 dataframes 2011-2017
common = set([tag for tag in g.columns if tag in a.columns & b.columns & c.columns & d.columns & e.columns & f.columns])

In [17]:
'''identify non common columns for specific frames'''
# 2011
u11 = [tag for tag in a.columns if tag not in common]
# 2012
u12 = [tag for tag in b.columns if tag not in common]
# 2013
u13 = [tag for tag in c.columns if tag not in common]
# 2014
u14 = [tag for tag in d.columns if tag not in common]
# 2015
u15 = [tag for tag in e.columns if tag not in common]
# 2016
u16 = [tag for tag in f.columns if tag not in common]
# 2017
u17 = [tag for tag in g.columns if tag not in common]

In [18]:
"""drop each frame's uncommon columns, reset index"""
# 2011
aa = a.copy().drop(u11,axis=1).reset_index()
# # 2012
bb = b.copy().drop(u12,axis=1).reset_index()
# # 2013
cc = c.copy().drop(u13,axis=1).reset_index()
# # 2014
dd = d.copy().drop(u14,axis=1).reset_index()
# # 2015
ee = e.copy().drop(u15,axis=1).reset_index()
# # 2016
ff = f.copy().drop(u16,axis=1).reset_index()
# # 2017
gg = g.copy().drop(u17,axis=1).reset_index()

In [39]:
acol = aa.columns
bcol=bb.columns
ccol = cc.columns
dcol=dd.columns
ecol=ee.columns
fcol=ff.columns
gcol = gg.columns

def test_non_unique(column_names):
    first_occour = []
    non_unique = []
    for i,_ in enumerate(column_names):
        if _ not in first_occour:
            first_occour.append(_)
        else:
            non_unique.append([i,_])
    return non_unique

a=test_non_unique(acol)
b=test_non_unique(bcol)
c=test_non_unique(ccol)
d=test_non_unique(dcol)
e=test_non_unique(ecol)
f=test_non_unique(fcol)
g=test_non_unique(gcol)

common_repeats = [_ for _ in g if _ in a]
common_repeats = [i for i in b if i in common_repeats]
common_repeats = [_ for _ in c if _ in common_repeats]
common_repeats = [i for i in d if i in common_repeats]
common_repeats = [_ for _ in e if _ in common_repeats]
common_repeats = [i for i in f if i in common_repeats]
common_repeats = [_ for _ in a if _ in common_repeats]
common_repeats 
# """
# [[80, 'Estimate; SEX AND AGE - 18 years and over'],
#  [81, 'Margin of Error; SEX AND AGE - 18 years and over'],
#  [82, 'Percent; SEX AND AGE - 18 years and over'],
#  [83, 'Percent Margin of Error; SEX AND AGE - 18 years and over'],
#  [84, 'Estimate; SEX AND AGE - 65 years and over'],
#  [85, 'Margin of Error; SEX AND AGE - 65 years and over'],
#  [86, 'Percent; SEX AND AGE - 65 years and over'],
#  [87, 'Percent Margin of Error; SEX AND AGE - 65 years and over']]"""

[[80, 'Estimate; SEX AND AGE - 18 years and over'],
 [81, 'Margin of Error; SEX AND AGE - 18 years and over'],
 [82, 'Percent; SEX AND AGE - 18 years and over'],
 [83, 'Percent Margin of Error; SEX AND AGE - 18 years and over'],
 [84, 'Estimate; SEX AND AGE - 65 years and over'],
 [85, 'Margin of Error; SEX AND AGE - 65 years and over'],
 [86, 'Percent; SEX AND AGE - 65 years and over'],
 [87, 'Percent Margin of Error; SEX AND AGE - 65 years and over']]

- ***notes***;
    - while different len, the column names are the same across the board

In [8]:
out = [aa,bb,cc,dd,ee,ff,gg]

In [40]:
len(aa.columns), len(set(aa.columns)),len(aa.columns.unique())
# pre set(common) on non-common lists (220, 204, 204)
# post set(common) on non-common lists (220, 204, 204)

(220, 204, 204)

In [41]:
x = [u11,u12,u13,u14,u15,u16,u17]
y = out

o = [len(_) for _ in x]
so = [len(set(_)) for _ in x]

co = [len(_.columns) for _ in y]
cso = [len(set(_.columns)) for _ in y]

years = ['2011','2012','2013','2014','2015','2016','2017']
cols = ['list','set','diff']

os = []
for _ in range((len(o))):
    os.append([o[_],so[_],o[_]-so[_]])
    
cos = []
for _ in range((len(o))):
    cos.append([co[_],cso[_],co[_]-cso[_]]) 
    
q = pd.DataFrame(data=os,index=years,columns=cols)
cq = pd.DataFrame(data=cos,index=years,columns=cols)

In [83]:
reallycommon = [_.columns for _ in y]
unicommon = [_.columns.unique() for _ in y]
# len(reallycommon[0]),len(unicommon[0])
r=reallycommon[0].drop(reallycommon.index[[79,80]])
ur=[unicommon][0][0]
for u,i in enumerate(r):
    if r[u]!=ur[u]:
        print(f'{u}\n{r[u]}\n{ur[u]}\n')
# len(r),len(ur)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [42]:
q

      list  set  diff
2011   108   92    16
2012   108   92    16
2013   116  116     0
2014   116  116     0
2015   128  128     0
2016   128  128     0
2017   148  148     0

In [45]:
cq

      list  set  diff
2011   219  203    16
2012   219  203    16
2013   211  203     8
2014   211  203     8
2015   211  203     8
2016   211  203     8
2017   211  203     8

In [ ]:
len(gg.columns), len(set(gg.columns)),len(gg.columns.unique())
# pre set(common) on non-common lists (212, 204, 204)
# post set(common) on non-common lists (212, 204, 204)

In [ ]:
len(common), len(set(common)), len(common)
# pre set(common) on non-common lists (211, 203, 203)
# post set(common) on non-common lists (211, 203, 203)

In [ ]:
len(aa['Geography']) , len(aa['Geography'].unique())

In [ ]:
# X, y = make_classification(n_classes=3, n_features=2, n_redundant=0,
#                            n_informative=2, n_clusters_per_class=1,
#                            class_sep=1, random_state=5)
# print(y.shape)
# _knn = KNearestNeighbors(4, cosine_distance)
# _knn.fit(X, y)