In [1]:
import time
import numpy as np
import pandas as pd

In [2]:
# load 2000 data
bush = pd.read_csv( '../data/2000/age-groups-and-sex-census-DEC_00_SF1_QTP1/DEC_00_SF1_QTP1_with_ann.csv' , low_memory=False )
# load 2010 data
obama = pd.read_csv( '../data/2010/age-groups-and-sex-census-DEC_10_SF1_QTP1/DEC_10_SF1_QTP1_with_ann.csv' , low_memory=False )
# load 2000 metadata
b_metadata = pd.read_csv( '../data/2000/age-groups-and-sex-census-DEC_00_SF1_QTP1/DEC_00_SF1_QTP1_metadata.csv' )
# load 2010 metadata
o_metadata = pd.read_csv( '../data/2010/age-groups-and-sex-census-DEC_10_SF1_QTP1/DEC_10_SF1_QTP1_metadata.csv' )

In [3]:
# same metadata , should make for good comps
b_metadata.info() == o_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
GEO.id    289 non-null object
Id        289 non-null object
dtypes: object(2)
memory usage: 4.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
GEO.id    289 non-null object
Id        289 non-null object
dtypes: object(2)
memory usage: 4.6+ KB

True

In [4]:
bush.describe()

,GEO.id,GEO.id2,GEO.display-label,HC02_VC01,HC03_VC01,HC04_VC01,HC06_VC01,HC07_VC01,HC08_VC01,HC09_VC01,...,HC07_VC40,HC08_VC40,HC09_VC40,HC02_VC41,HC03_VC41,HC04_VC41,HC06_VC41,HC07_VC41,HC08_VC41,HC09_VC41
count,33179,33179,33179,33179,33179,33179,33179,33179,33179,33179,...,33179,33179,33179,33179,33179,33179,33179,33179,33179,33179
unique,33179,33179,33179,14832,11189,11348,3,3,3,1239,...,282,347,1102,525,526,529,2,2,2,2
top,8600000US17224,79376,ZCTA5 49445,0,0,0,100.0,100.0,100.0,(X),...,(X),(X),(X),0.0,0.0,0.0,(X),(X),(X),(X)
freq,1,1,1,935,942,946,32243,32236,32232,946,...,942,946,1385,935,942,946,33178,33178,33178,33178

In [5]:
obama.describe()

,GEO.id,GEO.id2,GEO.display-label,SUBHD0101_S01,SUBHD0102_S01,SUBHD0103_S01,SUBHD0201_S01,SUBHD0202_S01,SUBHD0203_S01,HD03_S01,...,SUBHD0202_S40,SUBHD0203_S40,HD03_S40,SUBHD0101_S41,SUBHD0102_S41,SUBHD0103_S41,SUBHD0201_S41,SUBHD0202_S41,SUBHD0203_S41,HD03_S41
count,33121,33121,33121,33121,33121,33121,33121,33121,33121,33121,...,33121,33121,33121,33121,33121,33121,33121,33121,33121,33121
unique,33121,33121,33121,15428,11768,11957,3,3,3,1358,...,320,361,1189,547,540,553,2,2,2,2
top,8600000US17224,14740,ZCTA5 49445,0,0,0,100.0,100.0,100.0,100.0,...,4.8,0.0,100.0,41.8,40.5,43.5,( X ),( X ),( X ),( X )
freq,1,1,1,144,152,157,32976,32968,32963,431,...,633,552,1000,286,331,328,33120,33120,33120,33120

In [6]:
bush.head()

,GEO.id,GEO.id2,GEO.display-label,HC02_VC01,HC03_VC01,HC04_VC01,HC06_VC01,HC07_VC01,HC08_VC01,HC09_VC01,...,HC07_VC40,HC08_VC40,HC09_VC40,HC02_VC41,HC03_VC41,HC04_VC41,HC06_VC41,HC07_VC41,HC08_VC41,HC09_VC41
0,Id,Id2,Geography,Number - Both sexes; Total population,Number - Male; Total population,Number - Female; Total population,Percent - Both sexes; Total population,Percent - Male; Total population,Percent - Female; Total population,Males per 100 females; Total population,...,Percent - Male; Total population - 75 years an...,Percent - Female; Total population - 75 years ...,Males per 100 females; Total population - 75 y...,Number - Both sexes; Total population - Median...,Number - Male; Total population - Median age (...,Number - Female; Total population - Median age...,Percent - Both sexes; Total population - Media...,Percent - Male; Total population - Median age ...,Percent - Female; Total population - Median ag...,Males per 100 females; Total population - Medi...
1,8600000US00601,00601,ZCTA5 00601,19143,9369,9774,100.0,100.0,100.0,95.9,...,4.3,5.1,80.5,30.3,28.9,32.0,(X),(X),(X),(X)
2,8600000US00602,00602,ZCTA5 00602,42042,20608,21434,100.0,100.0,100.0,96.1,...,3.4,3.7,87.1,31.3,30.4,32.0,(X),(X),(X),(X)
3,8600000US00603,00603,ZCTA5 00603,55530,27271,28259,100.0,100.0,100.0,96.5,...,4.6,5.5,80.7,33.4,31.9,34.8,(X),(X),(X),(X)
4,8600000US00604,00604,ZCTA5 00604,3923,1911,2012,100.0,100.0,100.0,95.0,...,1.9,1.7,108.8,25.2,23.0,27.3,(X),(X),(X),(X)

In [7]:
obama.head()

,GEO.id,GEO.id2,GEO.display-label,SUBHD0101_S01,SUBHD0102_S01,SUBHD0103_S01,SUBHD0201_S01,SUBHD0202_S01,SUBHD0203_S01,HD03_S01,...,SUBHD0202_S40,SUBHD0203_S40,HD03_S40,SUBHD0101_S41,SUBHD0102_S41,SUBHD0103_S41,SUBHD0201_S41,SUBHD0202_S41,SUBHD0203_S41,HD03_S41
0,Id,Id2,Geography,Number - Both sexes; Total population,Number - Male; Total population,Number - Female; Total population,Percent - Both sexes; Total population,Percent - Male; Total population,Percent - Female; Total population,Males per 100 females; Total population,...,Percent - Male; Total population - 75 years an...,Percent - Female; Total population - 75 years ...,Males per 100 females; Total population - 75 y...,Number - Both sexes; Total population - Median...,Number - Male; Total population - Median age (...,Number - Female; Total population - Median age...,Percent - Both sexes; Total population - Media...,Percent - Male; Total population - Median age ...,Percent - Female; Total population - Median ag...,Males per 100 females; Total population - Medi...
1,8600000US00601,00601,ZCTA5 00601,18570,9078,9492,100.0,100.0,100.0,95.6,...,5.0,5.9,81.4,35.9,34.5,37.1,( X ),( X ),( X ),( X )
2,8600000US00602,00602,ZCTA5 00602,41520,20396,21124,100.0,100.0,100.0,96.6,...,4.2,5.2,77.4,37.5,36.6,38.5,( X ),( X ),( X ),( X )
3,8600000US00603,00603,ZCTA5 00603,54689,26597,28092,100.0,100.0,100.0,94.7,...,5.5,7.1,73.4,38.2,36.6,39.8,( X ),( X ),( X ),( X )
4,8600000US00606,00606,ZCTA5 00606,6615,3268,3347,100.0,100.0,100.0,97.6,...,5.2,5.3,96.6,36.2,35.7,36.6,( X ),( X ),( X ),( X )

In [8]:
# compare dataframes

'''coded column names 
    >> e.g. SUBHD0103_S01, HD03_S41'''
# 2000 high-level column names (current exists before row 0 )
b_hi_column_names = [ name for name in bush.columns.values ]
# 2010 high-level column names (current exists before row 0 )
o_hi_column_names = [ name for name in obama.columns.values ]

# number of names are same 
if len( b_hi_column_names ) == len( o_hi_column_names ):
    # keep track of names that exist in both data
    hi_both = []   
    # keep track of 2000 names that do not exist in 2010 data
    hi_b_only = []
    # keep track of 2010 names that do not exist in 2000 data
    hi_o_only = []
    # index length
    for _ in range( len( b_hi_column_names ) ):
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if b_hi_column_names[ _ ] not in o_hi_column_names:
            # add name to 2000 only list
            hi_b_only.append( b_hi_column_names[ _ ] )
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if o_hi_column_names[ _ ] not in b_hi_column_names:
            # add name to 2000 only list
            hi_o_only.append( o_hi_column_names[ _ ] )
        else:
            hi_both.append([b_hi_column_names[ _ ],o_hi_column_names[ _ ]])
            
    print(f'hi\nboth = {len(hi_both)}\n2000 but not 2010 = {len(hi_b_only)}\n2010 but not 2000 = {len(hi_o_only)}')


'''commonly understandable column names
    >> e.g. Number - Female; Total population, Males per 100 females; Total population - Medi...'''
# 2000 translated column names (current row 0)
b_lo_column_names = [ name for name in bush.iloc[ 0 ] ]
# 2010 translated column names (current row 0)
o_lo_column_names = [ name for name in obama.iloc[ 0 ] ]
# number of names are same 
if len( b_lo_column_names ) == len( o_lo_column_names ):
    # keep track of names that exist in both data
    lo_both = []   
    # keep track of 2000 names that do not exist in 2010 data
    lo_b_only = []
    # keep track of 2010 names that do not exist in 2000 data
    lo_o_only = []
    # index length
    for _ in range( len( b_lo_column_names ) ):
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if b_lo_column_names[ _ ] not in o_lo_column_names:
            # add name to 2000 only list
            lo_b_only.append( b_lo_column_names[ _ ] )
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if o_lo_column_names[ _ ] not in b_lo_column_names:
            # add name to 2000 only list
            lo_o_only.append( o_lo_column_names[ _ ] )
        else:
            lo_both.append([b_lo_column_names[ _ ],o_lo_column_names[ _ ]])
            
    print(f'lo\nboth = {len(lo_both)}\n2000 but not 2010 = {len(lo_b_only)}\n2010 but not 2000 = {len(lo_o_only)}')


'''first row of numbered data 
    >> e.g. 18570, 100.0'''
# 2000 0th row of data (current row 1)
b_0th_real = [ name for name in bush.iloc[ 1 ] ]
# 2010 0th row of data (current row 1)
o_0th_real = [ name for name in obama.iloc[ 1 ] ]

# number of names are same 
if len( b_0th_real ) == len( o_0th_real ):
    # keep track of names that exist in both data
    both_0th = []   
    # keep track of 2000 names that do not exist in 2010 data
    b_only_0th = []
    # keep track of 2010 names that do not exist in 2000 data
    o_only_0th = []
    # index length
    for _ in range( len( b_0th_real ) ):
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if b_0th_real[ _ ] not in o_0th_real:
            # add name to 2000 only list
            b_only_0th.append( b_0th_real[ _ ] )
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if o_0th_real[ _ ] not in b_0th_real:
            # add name to 2000 only list
            o_only_0th.append( o_0th_real[ _ ] )
        else:
            both_0th.append([b_0th_real[ _ ],o_0th_real[ _ ]])
            
    print(f'data\nboth = {len(both_0th)}\n2000 but not 2010 = {len(b_only_0th)}\n2010 but not 2000 = {len(o_only_0th)}')

hi
both = 3
2000 but not 2010 = 287
2010 but not 2000 = 287
lo
both = 290
2000 but not 2010 = 0
2010 but not 2000 = 0
data
both = 80
2000 but not 2010 = 208
2010 but not 2000 = 210

- ***notes***:
    - while the high level labels don't seem to coexist 
        - any actual column name in 2000 is seen in 2010 and vise verse
    - under 1/3 
        - of values seen in the first row of data for either the d2000 or the 2010 datasets
            - are seen in that same row on the other dataset 
- ***actions***:
    - repeat the tests but check for correcponding index instead of coexistance

In [9]:
# compare on index 

'''coded column names 
    >> e.g. SUBHD0103_S01, HD03_S41'''
# 2000 high-level column names (current exists before row 0 )
b_hi_column_names = [ name for name in bush.columns.values ]
# 2010 high-level column names (current exists before row 0 )
o_hi_column_names = [ name for name in obama.columns.values ]

# number of names are same 
if len( b_hi_column_names ) == len( o_hi_column_names ):
    # values that are same 
    same_hi = []   
    # values that are not the same
    not_the_hi = []
    # index length
    for _ in range( len( b_hi_column_names ) ):
        # object found at this index in 2000 is not same object at this index in 2010
        if b_hi_column_names[ _ ] != o_hi_column_names[ _ ]:
            # add name to 2000 only list
            not_the_hi.append( [ _ , b_hi_column_names[ _ ] , o_hi_column_names[ _ ] ] )
        else:
            same_hi.append( [ _ , b_hi_column_names[ _ ] , o_hi_column_names[ _ ] ] )
            
    print(f'hi level\nboth the same = {len(same_hi)}\nnot the same = {len(not_the_hi)}')
    

'''commonly understandable column names
    >> e.g. Number - Female; Total population, Males per 100 females; Total population - Medi...'''
# 2000 translated column names (current row 0)
b_lo_column_names = [ name for name in bush.iloc[ 0 ] ]
# 2010 translated column names (current row 0)
o_lo_column_names = [ name for name in obama.iloc[ 0 ] ]
# number of names are same 
if len( b_lo_column_names ) == len( o_lo_column_names ):
    # values that are same 
    same_lo = []   
    # values that are not the same
    not_the_lo = []
    # index length
    for _ in range( len( b_lo_column_names ) ):
        # object found at this index in 2000 is not same object at this index in 2010
        if b_lo_column_names[ _ ] != o_lo_column_names[ _ ]:
            # add name to 2000 only list
            not_the_lo.append( [ _ , b_lo_column_names[ _ ] , o_lo_column_names[ _ ] ] )
        else:
            same_lo.append( [ _ , b_lo_column_names[ _ ] , o_lo_column_names[ _ ] ] )
            
    print(f'common\nboth the same = {len(same_lo)}\nnot the same = {len(not_the_lo)}')

'''first row of numbered data 
    >> e.g. 18570, 100.0'''
# 2000 0th row of data (current row 1)
b_0th_real = [ name for name in bush.iloc[ 1 ] ]
# 2010 0th row of data (current row 1)
o_0th_real = [ name for name in obama.iloc[ 1 ] ]

# number of names are same 
if len( b_0th_real ) == len( o_0th_real ):
    # values that are same 
    same_0th = []   
    # values that are not the same
    not_the_0th = []
    # index length
    for _ in range( len( b_0th_real ) ):
        # object found at this index in 2000 is not same object at this index in 2010
        if o_0th_real[ _ ] != b_0th_real[ _ ]:
            # add name to 2000 only list
            not_the_0th.append( [ _ , b_0th_real[ _ ] , o_0th_real[ _ ] ] )
        else:
            same_0th.append( [ _ , b_0th_real[ _ ] , o_0th_real[ _ ] ] )
            
    print(f'data\nboth the same = {len(same_0th)}\nnot the same = {len(not_the_0th)}')

hi level
both the same = 3
not the same = 287
common
both the same = 290
not the same = 0
data
both the same = 13
not the same = 277

- ***notes***:
    - hi level
        - first 3 are the same
            - as expected
    - commonly understandable column names
        - perfect match
            - as expected
    - first row of data
        - less than 4.5% the same
            - about 85% fewer occourances than when testing existance of same instance in other df
        - good
- ***actions***:
    - set column names to commonly understandable column names
    - visualize change from 2000 to 2010

In [10]:
# copy dataframes
# 2000 Census
b = bush.copy()
# 2010 Census
o = obama.copy()

# reset 2000 columns to current 0th row values
b.columns = b.iloc[0]
# new 2000 dataframe without row where values are from
b = b[1:]

# reset 2010 columns to current 0th row values
o.columns = o.iloc[0]
# new 2010 dataframe without row where values are from
o = o[1:]

- ***actions***:
    - find commonalities to compare by
        - Id , Id2 , Geography
            - seem to be good possibilities

In [11]:
try_these = [ 'Id' , 'Id2' , 'Geography' ]

for column_name in try_these:
    print(column_name)
    same = []
    diff = []
    # len 2000 is 58 more than len 2010 
    for _ in range( 1 , len( b[ column_name ] )-58 ):
        if b[ column_name ][ _ ] == o[ column_name ][ _ ]:
            same.append( [_,b[ column_name ][ _ ],o[ column_name ][ _ ]] )
        else:
            diff.append( [_,b[ column_name ][ _ ],o[ column_name ][ _ ]] )
    print(f'same = {len(same)}\ndiff = {len(diff)}')
    i_same = [ instance.pop(0) for instance in same ] 
    # print(i_same)

Id
same = 165
diff = 32954
Id2
same = 165
diff = 32954
Geography
same = 165
diff = 32954

In [12]:
# 3 lists just output
by_id = [1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]
by_id2 = [1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]
by_geo = [1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]

# these lists are the same
if not by_id == by_id2 == by_geo:
    raise Exception('FALSE == by_id == by_id2 == by_geo == False')

# and for those 3 columns* every index value in any list is the same in 2000 and 2010 *(Id, Id2, Geography)
for i in [ by_id , by_id2 , by_geo ]:
    for _ in i:
        # compare Id values
        if b.Id[_] != o.Id[_]:
            # if any don't match 2000 vs 2010
            raise Exception(f'b.Id[_] != o.Id[_]\n{b.Id[_]} != {o.Id[_]}')
        # compare Id2 values
        if b.Id2[_] != o.Id2[_]:
            # if any don't match 2000 vs 2010
            raise Exception(f'b.Id2[_] != o.Id2[_]\n{b.Id2[_]} != {o.Id2[_]}')
        # compare Geography values
        if b.Geography[_] != o.Geography[_]:
            # if any don't match 2000 vs 2010
            raise Exception(f'b.Geography[_] != o.Geography[_]\n{b.Geography[_]} != {o.Geography[_]}')

- ***notes***:
    - why are these values the same?
    - what do they mean/represent?
- ***actions***:
    - answer above

In [13]:
len(o.Geography)

33120

In [14]:
last_5_2000_geo = [ b.Geography[_][-5:] for _ in range( 1 , len(b.Geography)+1) ]
last_5_2010_geo = [ o.Geography[_][-5:] for _ in range( 1 , len(o.Geography)+1) ]

# note the index patterns
if b.Geography[33113][-5:] == last_5_2000_geo[33112] == o.Geography[33062][-5:] == last_5_2010_geo[33061]:
    pass
    if b.Geography[33114][-5:] == last_5_2000_geo[33113] == o.Geography[33063][-5:] == last_5_2010_geo[33062]:
        pass
        if b.Geography[33110][-5:] == last_5_2000_geo[33109] == o.Geography[33059][-5:] == last_5_2010_geo[33058]:
            pass
        else:
            raise Exception('ERROR2')
    else:
        raise Exception('ERROR1')
else:
    raise Exception('ERROR')

In [15]:
# each 5 digit code from end of each row in 2010 'Geography'
bgeo = [ _[-5:] for _ in b.Geography ]

# number of coexisting instances
x=0
# collect coexisting instances
collect_locs = []
# collect unique coexisting instances
uni_col_locs = set() 
# len 2010 is -58 vs len 2000 
for _ in range(1,len(o.Geography)):
    # 5 digit code is in 2010 collection 
    if o.Geography[_][-5:] in bgeo:
        # tag it
        x += 1
        # bag it
        collect_locs.append(o.Geography[_][-5:])
        uni_col_locs.add(o.Geography[_][-5:])


# number of coexisting , size of that list , number of unique , len 2000 vs 2010
x , len(collect_locs) , len(list(uni_col_locs)) , len(b.Geography) - len(o.Geography)

(31377, 31377, 31377, 58)

- ***notes***:
    - ok, this is large
        - readings credit
            - did a few pages of this https://www.census.gov/prod/cen2000/doc/sf1.pdf 
                - 494-497 + skim 
            - followed by https://www.quora.com/U-S-Census-Bureau-How-does-Zip-Code-Tabulation-Area-is-created 
    - in short,
        - the US Census Bureau doesn't strictly use postal zip code when determining 5-digit zip
            - leave out some very small zips
            - made zips for large bodies of water and land which did not have zip codes
                - this was done in 2000 and not done in 2010
    - what we've found:
        - all 5 digit codes (found at end of each object) in 2010 'Geography' column 
            - are seen at the end of an object in the 2000 'Geograpy' column 
- ***actions***:
    - drop columns where 5-digit is not seen
        - see if df is then ready for straight compare

In [16]:
# identify zip codes from 2000 .Geography (last 5 chars of string)
zip_2000_codes = [q[-5:] for q in b.Geography]  # ValueError: invalid literal for int() with base 10: '006HH'
# identify zip codes from 2010 .Geography (last 5 chars of string)
zip_2010_codes = [q[-5:] for q in o.Geography]

In [17]:
# from 2000.Geography , instance is not seen in 2010.Geography  -- sample: zip_code = (2, 'c')
in_2000_but_not_2010_from_2000 = [zip_code for zip_code in enumerate(zip_2000_codes) if zip_code[1] not in zip_2010_codes]
# from 2010.Geography , instance is not seen in 2000.Geography  -- sample: zip_code[1] = 'c'
in_2010_but_not_2000_from_2010 = [zip_code for zip_code in enumerate(zip_2010_codes) if zip_code[1] not in zip_2000_codes]

In [18]:
# from 2000.Geography , instance is seen in 2010.Geography
in_2000_and_2010_from_2000 = [zip_code for zip_code in enumerate(zip_2000_codes) if zip_code[1] in zip_2010_codes]
# from 2010.Geography , instance is seen in 2000.Geography
in_2010_and_2000_from_2010 = [zip_code for zip_code in enumerate(zip_2010_codes) if zip_code[1] in zip_2000_codes]

In [19]:
len(in_2010_but_not_2000_from_2010)

1742

In [20]:
'''
len(in_2000_but_not_2010_from_2000) = 1800
len(in_2010_but_not_2000_from_2010) = 1742
len(in_2000_and_2010_from_2000) = 31378
len(in_2010_and_2000_from_2010) = 31378'''
print(f'len(in_2000_but_not_2010_from_2000) = {len(in_2000_but_not_2010_from_2000)}\nlen(in_2010_but_not_2000_from_2010) = {len(in_2010_but_not_2000_from_2010)}\nlen(in_2000_and_2010_from_2000) = {len(in_2000_and_2010_from_2000)}\nlen(in_2010_and_2000_from_2010) = {len(in_2010_and_2000_from_2010)}')

len(in_2000_but_not_2010_from_2000) = 1800
len(in_2010_but_not_2000_from_2010) = 1742
len(in_2000_and_2010_from_2000) = 31378
len(in_2010_and_2000_from_2010) = 31378

- ***notes***:
    - len(in_2000_and_2010_from_2000) == len(in_2010_and_2000_from_2010) == 31378
        - big relief 
- ***actions***:
    - convert 2010 and 2000 dataframes based on shared values in .Geography 
        - and
            - drop 'ZCTA5' form 'Geography' rows
            - check that in_2000_but_not_2010_from_2000 doesn't share with in_2010_but_not_2000_from_2010
        - potential issues
            - same 5-digit zip code is not actually same place
        - solutions
            - any changes of this sort have been documented
                - review prior readings on overview
    - below before editing df is confirming assumptions and provinding evidence for df editing strats

In [21]:
for _ in in_2000_but_not_2010_from_2000:
    if _ in in_2010_but_not_2000_from_2010:
        raise Exception(f'{_} in in_2010_but_not_2000_from_2010')
for _ in in_2010_but_not_2000_from_2010:
    if _ in in_2000_but_not_2010_from_2000:
        raise Exception(f'{_} in in_2000_but_not_2010_from_2000')

In [22]:
lettered = []
no_letters = []
for _ in in_2000_but_not_2010_from_2000:
    if isinstance(_[1],str):
        if 'X' in _[1] or 'H' in _[1]:
            lettered.append(_)
        elif 'X' not in _[1] and 'H' not in _[1]:
            no_letters.append(int(_[1]))
        else:
            raise Exception(type(_[1]),_[1])
    else:
        raise Exception(f'NON STR INSTANCE , {type(_[1])}')

for _ in lettered:
    if _ in in_2010_but_not_2000_from_2010:
        raise Exception(_)

for _ in no_letters:
    if _ in in_2010_but_not_2000_from_2010:
        raise Exception(_)

In [23]:
print(f'lettered = {len(lettered)}\nno_letters = {len(no_letters)}')

lettered = 1140
no_letters = 660

In [24]:
lettered2 = []
no_letters2 = []
for _ in in_2010_but_not_2000_from_2010:
    if isinstance(_[1],str):
        if 'X' in _[1] or 'H' in _[1]:
            lettered2.append(_)
        elif 'X' not in _[1] and 'H' not in _[1]:
            no_letters2.append(int(_[1]))
        else:
            raise Exception(_[1])
    else:
        raise Exception(f'NON STR INSTANCE , {type(_[1])}')

In [25]:
print(f'lettered = {len(lettered)}\nlettered2 = {len(lettered2)}\nno_letters = {len(no_letters)}\nno_letters2 = {len(no_letters2)}')

lettered = 1140
lettered2 = 0
no_letters = 660
no_letters2 = 1742

In [26]:
"""in_2010_but_not_2000_from_2010 and in_2000_but_not_2010_from_2000 are completely different""" 

# 2010_not_2000 vs 2000_not_2010
for _ in in_2010_but_not_2000_from_2010:
    if _ in in_2000_but_not_2010_from_2000:
        raise Exception(f'in_2010_but_not_2000_from_2010 {_}')

# 2000_not_2010 vs 2010_not_2000
for _ in in_2000_but_not_2010_from_2000:
    if _ in in_2010_but_not_2000_from_2010:
        raise Exception(f'in_2010_but_not_2000_from_2010 {_}')

In [40]:
for _ in range(len(in_2010_and_2000_from_2010)):
    if in_2010_and_2000_from_2010[_][1] != in_2000_and_2010_from_2000[_][1]:
        # note: i (for i,j) are not same 
        # in_2010_and_2000_from_2010[3] = (3, '00606')
        # in_2000_and_2010_from_2000[3] = (4, '00606')
        # in_2010_and_2000_from_2010[0] = (0, '00601')
        # in_2000_and_2010_from_2000[0] = (0, '00601')
        raise Exception(f'{in_2010_and_2000_from_2010[_]}\n!= ERROR != ERROR !=\n{in_2000_and_2010_from_2000[_]}')

- ***note***:
    - error pointed about above comments
- ***action***:
    - when dropping column by index, use i (for i,j) coming from that year's df

In [60]:
# index of objects coexisting in 2000 and 2010
of_2000_indexes = [i for i,j in in_2000_and_2010_from_2000]
# index of objects coexisting in 2010 and 2000 
of_2010_indexes = [i for i,j in in_2010_and_2000_from_2010]
# ^note: these are different lists, if took j instead of i, then would be same list
if [j for i,j in in_2000_and_2010_from_2000] != [j for i,j in in_2010_and_2000_from_2010]:
    # like is seen here, j for j == True
    raise Exception('FLAWED ASSUMPTION')
# however i for i == False
if of_2000_indexes == of_2010_indexes:
    # cheers
    raise Exception('FLAWED ASSUMPTION')

In [66]:
# # set 2000 
# __b__ = b.copy()
# # set 2010
# __o__ = o.copy()
# # ascending count of all instances
# for _ in range(len(b.Geography)):
#     # if _ at i is not in list of coexisting 
#     if _ not in of_2000_indexes:
#         # update 2000 df accordingly
#         __b__.drop([_])
#         print(_)
#     # if _ at i is not in list of coexisting
#     if _ not in of_2010_indexes:
#         # update 2010 df accordingly
#         __o__.drop([_])
#         print(_)
len(of_2010_indexes),len(b.Geography)

(31378, 33178)

In [53]:
__b__

,Id,Id2,Geography,Number - Both sexes; Total population,Number - Male; Total population,Number - Female; Total population,Percent - Both sexes; Total population,Percent - Male; Total population,Percent - Female; Total population,Males per 100 females; Total population,...,Percent - Male; Total population - 75 years and over,Percent - Female; Total population - 75 years and over,Males per 100 females; Total population - 75 years and over,Number - Both sexes; Total population - Median age (years),Number - Male; Total population - Median age (years),Number - Female; Total population - Median age (years),Percent - Both sexes; Total population - Median age (years),Percent - Male; Total population - Median age (years),Percent - Female; Total population - Median age (years),Males per 100 females; Total population - Median age (years)
1,8600000US00601,00601,ZCTA5 00601,19143,9369,9774,100.0,100.0,100.0,95.9,...,4.3,5.1,80.5,30.3,28.9,32.0,(X),(X),(X),(X)
2,8600000US00602,00602,ZCTA5 00602,42042,20608,21434,100.0,100.0,100.0,96.1,...,3.4,3.7,87.1,31.3,30.4,32.0,(X),(X),(X),(X)
3,8600000US00603,00603,ZCTA5 00603,55530,27271,28259,100.0,100.0,100.0,96.5,...,4.6,5.5,80.7,33.4,31.9,34.8,(X),(X),(X),(X)
4,8600000US00604,00604,ZCTA5 00604,3923,1911,2012,100.0,100.0,100.0,95.0,...,1.9,1.7,108.8,25.2,23.0,27.3,(X),(X),(X),(X)
5,8600000US00606,00606,ZCTA5 00606,6449,3165,3284,100.0,100.0,100.0,96.4,...,4.5,4.0,107.6,29.1,28.8,29.5,(X),(X),(X),(X)
6,8600000US00610,00610,ZCTA5 00610,27975,13582,14393,100.0,100.0,100.0,94.4,...,4.1,4.3,90.3,32.5,31.1,33.6,(X),(X),(X),(X)
7,8600000US00612,00612,ZCTA5 00612,72730,34768,37962,100.0,100.0,100.0,91.6,...,5.2,6.4,74.7,34.4,32.5,36.2,(X),(X),(X),(X)
8,8600000US00616,00616,ZCTA5 00616,10532,5070,5462,100.0,100.0,100.0,92.8,...,5.1,5.4,88.4,33.3,31.9,34.4,(X),(X),(X),(X)
9,8600000US00617,00617,ZCTA5 00617,23370,11414,11956,100.0,100.0,100.0,95.5,...,4.1,5.0,77.4,31.1,30.0,32.3,(X),(X),(X),(X)
10,8600000US00622,00622,ZCTA5 00622,8104,3954,4150,100.0,100.0,100.0,95.3,...,5.2,6.2,79.8,38.6,37.4,39.6,(X),(X),(X),(X)
11,8600000US00623,00623,ZCTA5 00623,38807,18660,20147,100.0,100.0,100.0,92.6,...,5.4,6.2,80.6,34.3,33.0,35.5,(X),(X),(X),(X)
12,8600000US00624,00624,ZCTA5 00624,26719,13203,13516,100.0,100.0,100.0,97.7,...,3.2,4.0,76.8,27.6,26.8,28.5,(X),(X),(X),(X)
13,8600000US00627,00627,ZCTA5 00627,35244,17237,18007,100.0,100.0,100.0,95.7,...,4.2,5.2,78.4,31.5,30.1,32.8,(X),(X),(X),(X)
14,8600000US00631,00631,ZCTA5 00631,2188,1105,1083,100.0,100.0,100.0,102.0,...,4.9,6.1,81.8,34.3,31.8,36.0,(X),(X),(X),(X)
15,8600000US00637,00637,ZCTA5 00637,25935,12445,13490,100.0,100.0,100.0,92.3,...,5.1,5.6,83.8,32.7,30.7,34.4,(X),(X),(X),(X)
16,8600000US00638,00638,ZCTA5 00638,19634,9774,9860,100.0,100.0,100.0,99.1,...,4.1,4.7,87.1,29.8,29.2,30.4,(X),(X),(X),(X)
17,8600000US00641,00641,ZCTA5 00641,35015,17309,17706,100.0,100.0,100.0,97.8,...,5.0,5.4,91.0,32.0,30.5,33.3,(X),(X),(X),(X)
18,8600000US00646,00646,ZCTA5 00646,34099,16448,17651,100.0,100.0,100.0,93.2,...,3.5,4.3,76.3,31.8,30.7,32.9,(X),(X),(X),(X)
19,8600000US00647,00647,ZCTA5 00647,5362,2645,2717,100.0,100.0,100.0,97.4,...,6.0,6.6,88.9,36.9,35.3,39.0,(X),(X),(X),(X)
20,8600000US00650,00650,ZCTA5 00650,12120,5889,6231,100.0,100.0,100.0,94.5,...,4.1,4.0,96.0,30.5,29.2,31.6,(X),(X),(X),(X)
21,8600000US00652,00652,ZCTA5 00652,2987,1496,1491,100.0,100.0,100.0,100.3,...,5.2,5.2,101.3,32.9,32.2,33.6,(X),(X),(X),(X)
22,8600000US00653,00653,ZCTA5 00653,16526,8016,8510,100.0,100.0,100.0,94.2,...,3.8,4.5,79.3,29.4,27.8,31.0,(X),(X),(X),(X)
23,8600000US00656,00656,ZCTA5 00656,23072,11343,11729,100.0,100.0,100.0,96.7,...,4.6,5.2,86.1,30.9,29.3,32.6,(X),(X),(X),(X)
24,8600000US00659,00659,ZCTA5 00659,38925,18848,20077,100.0,100.0,100.0,93.9,...,3.9,4.8,75.0,32.1,31.1,33.0,(X),(X),(X),(X)
25,8600000US00660,00660,ZCTA5 00660,16614,7802,8812,100.0,100.0,100.0,88.5,...,5.6,6.7,73.9,36.5,34.3,38.6,(X),(X),(X),(X)
26,8600000US00662,00662,ZCTA5 00662,42339,20423,21916,100.0,100.0,100.0,93.2,...,4.5,5.6,75.3,33.2,32.0,34.3,(X),(X),(X),(X)
27,8600000US00664,00664,ZCTA5 00664,17318,8712,8606,100.0,100.0,100.0,101.2,...,3.8,3.9,98.2,28.0,27.0,29.1,(X),(X),(X),(X)
28,8600000US00667,00667,ZCTA5 00667,26673,13016,13657,100.0,100.0,100.0,95.3,...,5.0,6.2,77.5,34.1,32.4,35.6,(X),(X),(X),(X)
29,8600000US00669,00669,ZCTA5 00669,32227,15798,16429,100.0,100.0,100.0,96.2,...,4.7,5.3,85.8,31.5,30.2,32.7,(X),(X),(X),(X)
30,8600000US00670,00670,ZCTA5 00670,11179,5477,5702,100.0,100.0,100.0,96.1,...,4.0,4.6,84.2,30.9,30.2,31.6,(X),(X),(X),(X)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33149,8600000US99801,99801,ZCTA5 99801,28624,14465,14159,100.0,100.0,100.0,102.2,...,1.9,3.1,61.4,35.3,35.1,35.6,(X),(X),(X),(X)
33150,8600000US99820,99820,ZCTA5 99820,572,300,272,100.0,100.0,100.0,110.3,...,1.3,3.7,40.0,32.2,35.0,28.5,(X),(X),(X),(X)
33151,8600000US99824,99824,ZCTA5 99824,2087,1004,1083,100.0,100.0,100.0,92.7,...,2.8,3.3,77.8,35.4,35.1,35.8,(X),(X),(X),(X)
33152,8600000US99825,99825,ZCTA5 99825,76,44,32,100.0,100.0,100.0,137.5,...,6.8,6.3,150.0,44.4,44.5,44.0,(X),(X),(X),(X)
33153,8600000US99826,99826,ZCTA5 99826,429,241,188,100.0,100.0,100.0,128.2,...,1.2,0.5,300.0,40.3,41.2,39.4,(X),(X),(X),(X)
33154,8600000US99827,99827,ZCTA5 99827,2520,1274,1246,100.0,100.0,100.0,102.2,...,3.7,4.6,82.5,40.1,40.8,39.5,(X),(X),(X),(X)
33155,8600000US99829,99829,ZCTA5 99829,976,525,451,100.0,100.0,100.0,116.4,...,1.3,3.8,41.2,35.3,35.1,35.7,(X),(X),(X),(X)
33156,8600000US99830,99830,ZCTA5 99830,710,377,333,100.0,100.0,100.0,113.2,...,2.1,3.3,72.7,32.2,32.1,32.4,(X),(X),(X),(X)
33157,8600000US99832,99832,ZCTA5 99832,176,103,73,100.0,100.0,100.0,141.1,...,3.9,6.8,80.0,43.5,41.8,46.8,(X),(X),(X),(X)
33158,8600000US99833,99833,ZCTA5 99833,3459,1800,1659,100.0,100.0,100.0,108.5,...,4.0,4.9,88.9,36.7,36.6,36.9,(X),(X),(X),(X)
33159,8600000US99835,99835,ZCTA5 99835,8787,4478,4309,100.0,100.0,100.0,103.9,...,2.4,4.2,59.7,35.2,34.9,35.5,(X),(X),(X),(X)
33160,8600000US99840,99840,ZCTA5 99840,862,450,412,100.0,100.0,100.0,109.2,...,2.7,3.9,75.0,39.2,39.8,38.1,(X),(X),(X),(X)
33161,8600000US99841,99841,ZCTA5 99841,107,59,48,100.0,100.0,100.0,122.9,...,10.2,4.2,300.0,46.7,45.5,48.0,(X),(X),(X),(X)
33162,8600000US99850,99850,ZCTA5 99850,10,8,2,100.0,100.0,100.0,400.0,...,25.0,0.0,(X),60.0,50.0,71.5,(X),(X),(X),(X)
33163,8600000US998HH,998HH,ZCTA5 998HH,0,0,0,(X),(X),(X),(X),...,(X),(X),(X),0.0,0.0,0.0,(X),(X),(X),(X)
33164,8600000US998XX,998XX,ZCTA5 998XX,239,132,107,100.0,100.0,100.0,123.4,...,0.0,0.9,0.0,37.4,40.0,35.5,(X),(X),(X),(X)
33165,8600000US99901,99901,ZCTA5 99901,14030,7164,6866,100.0,100.0,100.0,104.3,...,2.7,4.0,72.4,36.0,36.3,35.7,(X),(X),(X),(X)
33166,8600000US99903,99903,ZCTA5 99903,24,12,12,100.0,100.0,100.0,100.0,...,0.0,0.0,(X),50.5,52.0,47.5,(X),(X),(X),(X)
33167,8600000US99918,99918,ZCTA5 99918,230,143,87,100.0,100.0,100.0,164.4,...,1.4,2.3,100.0,40.4,40.8,39.5,(X),(X),(X),(X)
33168,8600000US99919,99919,ZCTA5 99919,562,302,260,100.0,100.0,100.0,116.2,...,1.7,0.4,500.0,38.9,41.3,38.1,(X),(X),(X),(X)
33169,8600000US99921,99921,ZCTA5 99921,1906,1036,870,100.0,100.0,100.0,119.1,...,1.1,1.3,100.0,34.4,35.6,33.3,(X),(X),(X),(X)
33170,8600000US99922,99922,ZCTA5 99922,385,204,181,100.0,100.0,100.0,112.7,...,2.9,2.2,150.0,31.4,34.7,27.3,(X),(X),(X),(X)
33171,8600000US99923,99923,ZCTA5 99923,97,54,43,100.0,100.0,100.0,125.6,...,1.9,0.0,(X),46.3,47.7,44.5,(X),(X),(X),(X)
33172,8600000US99925,99925,ZCTA5 99925,955,530,425,100.0,100.0,100.0,124.7,...,1.7,2.1,100.0,34.1,35.4,32.0,(X),(X),(X),(X)
33173,8600000US99926,99926,ZCTA5 99926,1447,757,690,100.0,100.0,100.0,109.7,...,1.6,3.6,48.0,30.3,30.8,29.7,(X),(X),(X),(X)
33174,8600000US99927,99927,ZCTA5 99927,120,69,51,100.0,100.0,100.0,135.3,...,5.8,3.9,200.0,42.2,44.5,39.3,(X),(X),(X),(X)
33175,8600000US99929,99929,ZCTA5 99929,2424,1250,1174,100.0,100.0,100.0,106.5,...,4.1,6.3,68.9,39.6,39.8,39.5,(X),(X),(X),(X)
33176,8600000US99950,99950,ZCTA5 99950,36,22,14,100.0,100.0,100.0,157.1,...,0.0,0.0,(X),35.0,34.0,36.5,(X),(X),(X),(X)
33177,8600000US999HH,999HH,ZCTA5 999HH,0,0,0,(X),(X),(X),(X),...,(X),(X),(X),0.0,0.0,0.0,(X),(X),(X),(X)
33178,8600000US999XX,999XX,ZCTA5 999XX,424,246,178,100.0,100.0,100.0,138.2,...,0.8,0.6,200.0,39.2,40.2,38.3,(X),(X),(X),(X)

In [ ]:
len(__b__.Geography), len(__o__.Geography),len(__b__.Geography)- len(__o__.Geography)

In [ ]:
len(b.Geography), len(o.Geography)

In [ ]:
'''split'''
# # label objects in 2000.Geography with their index
# nume_b_geo = enumerate(b.Geography)
# # label objects in 2010.Geography with their index
# nume_b_geo = enumerate(o.Geography)

# # identify codes occouring in 2000 and not 2010
# [i for (i,_) in nume_b_geo if _[-5:] not in zip_2010_codes]

# # index and instance for all 2000 Census 'Geography' rows 
# # if the zip code (last 5 digits) is NOT in the collection of 2010 Census zip codes 
# # drop row index from the 2000 Census 
# # ready_b = b.copy().Geography.drop([i for (i,_) in nume_b_geo if _[-5:] not in zip_2010_codes])
# ready_b = b.copy().drop()
pass

In [ ]:
for i in enumerate(['a','b','c','d','e','f']):
    print(i)