In [1]:
import pandas as pd

In [2]:
# load 2000 data
bush = pd.read_csv( '../data/2000/age-groups-and-sex-census-DEC_00_SF1_QTP1/DEC_00_SF1_QTP1_with_ann.csv' , low_memory=False )
# load 2010 data
obama = pd.read_csv( '../data/2010/age-groups-and-sex-census-DEC_10_SF1_QTP1/DEC_10_SF1_QTP1_with_ann.csv' , low_memory=False )
# load 2000 metadata
b_metadata = pd.read_csv( '../data/2000/age-groups-and-sex-census-DEC_00_SF1_QTP1/DEC_00_SF1_QTP1_metadata.csv' )
# load 2010 metadata
o_metadata = pd.read_csv( '../data/2010/age-groups-and-sex-census-DEC_10_SF1_QTP1/DEC_10_SF1_QTP1_metadata.csv' )

In [3]:
# same metadata , should make for good comps
b_metadata.info() == o_metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
GEO.id    289 non-null object
Id        289 non-null object
dtypes: object(2)
memory usage: 4.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Data columns (total 2 columns):
GEO.id    289 non-null object
Id        289 non-null object
dtypes: object(2)
memory usage: 4.6+ KB

True

In [4]:
bush.describe()

,GEO.id,GEO.id2,GEO.display-label,HC02_VC01,HC03_VC01,HC04_VC01,HC06_VC01,HC07_VC01,HC08_VC01,HC09_VC01,...,HC07_VC40,HC08_VC40,HC09_VC40,HC02_VC41,HC03_VC41,HC04_VC41,HC06_VC41,HC07_VC41,HC08_VC41,HC09_VC41
count,33179,33179,33179,33179,33179,33179,33179,33179,33179,33179,...,33179,33179,33179,33179,33179,33179,33179,33179,33179,33179
unique,33179,33179,33179,14832,11189,11348,3,3,3,1239,...,282,347,1102,525,526,529,2,2,2,2
top,8600000US121HH,08735,ZCTA5 08319,0,0,0,100.0,100.0,100.0,(X),...,(X),(X),(X),0.0,0.0,0.0,(X),(X),(X),(X)
freq,1,1,1,935,942,946,32243,32236,32232,946,...,942,946,1385,935,942,946,33178,33178,33178,33178

In [5]:
obama.describe()

,GEO.id,GEO.id2,GEO.display-label,SUBHD0101_S01,SUBHD0102_S01,SUBHD0103_S01,SUBHD0201_S01,SUBHD0202_S01,SUBHD0203_S01,HD03_S01,...,SUBHD0202_S40,SUBHD0203_S40,HD03_S40,SUBHD0101_S41,SUBHD0102_S41,SUBHD0103_S41,SUBHD0201_S41,SUBHD0202_S41,SUBHD0203_S41,HD03_S41
count,33121,33121,33121,33121,33121,33121,33121,33121,33121,33121,...,33121,33121,33121,33121,33121,33121,33121,33121,33121,33121
unique,33121,33121,33121,15428,11768,11957,3,3,3,1358,...,320,361,1189,547,540,553,2,2,2,2
top,8600000US38347,08735,ZCTA5 18104,0,0,0,100.0,100.0,100.0,100.0,...,4.8,0.0,100.0,41.8,40.5,43.5,( X ),( X ),( X ),( X )
freq,1,1,1,144,152,157,32976,32968,32963,431,...,633,552,1000,286,331,328,33120,33120,33120,33120

In [6]:
bush.head()

,GEO.id,GEO.id2,GEO.display-label,HC02_VC01,HC03_VC01,HC04_VC01,HC06_VC01,HC07_VC01,HC08_VC01,HC09_VC01,...,HC07_VC40,HC08_VC40,HC09_VC40,HC02_VC41,HC03_VC41,HC04_VC41,HC06_VC41,HC07_VC41,HC08_VC41,HC09_VC41
0,Id,Id2,Geography,Number - Both sexes; Total population,Number - Male; Total population,Number - Female; Total population,Percent - Both sexes; Total population,Percent - Male; Total population,Percent - Female; Total population,Males per 100 females; Total population,...,Percent - Male; Total population - 75 years an...,Percent - Female; Total population - 75 years ...,Males per 100 females; Total population - 75 y...,Number - Both sexes; Total population - Median...,Number - Male; Total population - Median age (...,Number - Female; Total population - Median age...,Percent - Both sexes; Total population - Media...,Percent - Male; Total population - Median age ...,Percent - Female; Total population - Median ag...,Males per 100 females; Total population - Medi...
1,8600000US00601,00601,ZCTA5 00601,19143,9369,9774,100.0,100.0,100.0,95.9,...,4.3,5.1,80.5,30.3,28.9,32.0,(X),(X),(X),(X)
2,8600000US00602,00602,ZCTA5 00602,42042,20608,21434,100.0,100.0,100.0,96.1,...,3.4,3.7,87.1,31.3,30.4,32.0,(X),(X),(X),(X)
3,8600000US00603,00603,ZCTA5 00603,55530,27271,28259,100.0,100.0,100.0,96.5,...,4.6,5.5,80.7,33.4,31.9,34.8,(X),(X),(X),(X)
4,8600000US00604,00604,ZCTA5 00604,3923,1911,2012,100.0,100.0,100.0,95.0,...,1.9,1.7,108.8,25.2,23.0,27.3,(X),(X),(X),(X)

In [7]:
obama.head()

,GEO.id,GEO.id2,GEO.display-label,SUBHD0101_S01,SUBHD0102_S01,SUBHD0103_S01,SUBHD0201_S01,SUBHD0202_S01,SUBHD0203_S01,HD03_S01,...,SUBHD0202_S40,SUBHD0203_S40,HD03_S40,SUBHD0101_S41,SUBHD0102_S41,SUBHD0103_S41,SUBHD0201_S41,SUBHD0202_S41,SUBHD0203_S41,HD03_S41
0,Id,Id2,Geography,Number - Both sexes; Total population,Number - Male; Total population,Number - Female; Total population,Percent - Both sexes; Total population,Percent - Male; Total population,Percent - Female; Total population,Males per 100 females; Total population,...,Percent - Male; Total population - 75 years an...,Percent - Female; Total population - 75 years ...,Males per 100 females; Total population - 75 y...,Number - Both sexes; Total population - Median...,Number - Male; Total population - Median age (...,Number - Female; Total population - Median age...,Percent - Both sexes; Total population - Media...,Percent - Male; Total population - Median age ...,Percent - Female; Total population - Median ag...,Males per 100 females; Total population - Medi...
1,8600000US00601,00601,ZCTA5 00601,18570,9078,9492,100.0,100.0,100.0,95.6,...,5.0,5.9,81.4,35.9,34.5,37.1,( X ),( X ),( X ),( X )
2,8600000US00602,00602,ZCTA5 00602,41520,20396,21124,100.0,100.0,100.0,96.6,...,4.2,5.2,77.4,37.5,36.6,38.5,( X ),( X ),( X ),( X )
3,8600000US00603,00603,ZCTA5 00603,54689,26597,28092,100.0,100.0,100.0,94.7,...,5.5,7.1,73.4,38.2,36.6,39.8,( X ),( X ),( X ),( X )
4,8600000US00606,00606,ZCTA5 00606,6615,3268,3347,100.0,100.0,100.0,97.6,...,5.2,5.3,96.6,36.2,35.7,36.6,( X ),( X ),( X ),( X )

In [80]:
# compare dataframes

'''coded column names 
    >> e.g. SUBHD0103_S01, HD03_S41'''
# 2000 high-level column names (current exists before row 0 )
b_hi_column_names = [ name for name in bush.columns.values ]
# 2010 high-level column names (current exists before row 0 )
o_hi_column_names = [ name for name in obama.columns.values ]

# number of names are same 
if len( b_hi_column_names ) == len( o_hi_column_names ):
    # keep track of names that exist in both data
    hi_both = []   
    # keep track of 2000 names that do not exist in 2010 data
    hi_b_only = []
    # keep track of 2010 names that do not exist in 2000 data
    hi_o_only = []
    # index length
    for _ in range( len( b_hi_column_names ) ):
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if b_hi_column_names[ _ ] not in o_hi_column_names:
            # add name to 2000 only list
            hi_b_only.append( b_hi_column_names[ _ ] )
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if o_hi_column_names[ _ ] not in b_hi_column_names:
            # add name to 2000 only list
            hi_o_only.append( o_hi_column_names[ _ ] )
        else:
            hi_both.append([b_hi_column_names[ _ ],o_hi_column_names[ _ ]])
            
    print(f'hi\nboth = {len(hi_both)}\n2000 but not 2010 = {len(hi_b_only)}\n2010 but not 2000 = {len(hi_o_only)}')


'''commonly understandable column names
    >> e.g. Number - Female; Total population, Males per 100 females; Total population - Medi...'''
# 2000 translated column names (current row 0)
b_lo_column_names = [ name for name in bush.iloc[ 0 ] ]
# 2010 translated column names (current row 0)
o_lo_column_names = [ name for name in obama.iloc[ 0 ] ]
# number of names are same 
if len( b_lo_column_names ) == len( o_lo_column_names ):
    # keep track of names that exist in both data
    lo_both = []   
    # keep track of 2000 names that do not exist in 2010 data
    lo_b_only = []
    # keep track of 2010 names that do not exist in 2000 data
    lo_o_only = []
    # index length
    for _ in range( len( b_lo_column_names ) ):
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if b_lo_column_names[ _ ] not in o_lo_column_names:
            # add name to 2000 only list
            lo_b_only.append( b_lo_column_names[ _ ] )
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if o_lo_column_names[ _ ] not in b_lo_column_names:
            # add name to 2000 only list
            lo_o_only.append( o_lo_column_names[ _ ] )
        else:
            lo_both.append([b_lo_column_names[ _ ],o_lo_column_names[ _ ]])
            
    print(f'lo\nboth = {len(lo_both)}\n2000 but not 2010 = {len(lo_b_only)}\n2010 but not 2000 = {len(lo_o_only)}')


'''first row of numbered data 
    >> e.g. 18570, 100.0'''
# 2000 0th row of data (current row 1)
b_0th_real = [ name for name in bush.iloc[ 1 ] ]
# 2010 0th row of data (current row 1)
o_0th_real = [ name for name in obama.iloc[ 1 ] ]

# number of names are same 
if len( b_real_0th ) == len( o_real_0th ):
    # keep track of names that exist in both data
    both_0th = []   
    # keep track of 2000 names that do not exist in 2010 data
    b_only_0th = []
    # keep track of 2010 names that do not exist in 2000 data
    o_only_0th = []
    # index length
    for _ in range( len( b_real_0th ) ):
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if b_0th_real[ _ ] not in o_0th_real:
            # add name to 2000 only list
            b_only_0th.append( b_0th_real[ _ ] )
        # column name found at this index in 2000 df is not a column name in 2010 df 
        if o_0th_real[ _ ] not in b_0th_real:
            # add name to 2000 only list
            o_only_0th.append( o_0th_real[ _ ] )
        else:
            both_0th.append([b_0th_real[ _ ],o_0th_real[ _ ]])
            
    print(f'data\nboth = {len(both_0th)}\n2000 but not 2010 = {len(b_only_0th)}\n2010 but not 2000 = {len(o_only_0th)}')

hi
both = 3
2000 but not 2010 = 287
2010 but not 2000 = 287
lo
both = 290
2000 but not 2010 = 0
2010 but not 2000 = 0
data
both = 80
2000 but not 2010 = 208
2010 but not 2000 = 210

- ***notes***:
    - while the high level labels don't seem to coexist 
        - any actual column name in 2000 is seen in 2010 and vise verse
    - under 1/3 
        - of values seen in the first row of data for either the d2000 or the 2010 datasets
            - are seen in that same row on the other dataset 
- ***actions***:
    - repeat the tests but check for correcponding index instead of coexistance

In [81]:
# compare on index 

'''coded column names 
    >> e.g. SUBHD0103_S01, HD03_S41'''
# 2000 high-level column names (current exists before row 0 )
b_hi_column_names = [ name for name in bush.columns.values ]
# 2010 high-level column names (current exists before row 0 )
o_hi_column_names = [ name for name in obama.columns.values ]

# number of names are same 
if len( b_hi_column_names ) == len( o_hi_column_names ):
    # values that are same 
    same_hi = []   
    # values that are not the same
    not_the_hi = []
    # index length
    for _ in range( len( b_hi_column_names ) ):
        # object found at this index in 2000 is not same object at this index in 2010
        if b_hi_column_names[ _ ] != o_hi_column_names[ _ ]:
            # add name to 2000 only list
            not_the_hi.append( [ _ , b_hi_column_names[ _ ] , o_hi_column_names[ _ ] ] )
        else:
            same_hi.append( [ _ , b_hi_column_names[ _ ] , o_hi_column_names[ _ ] ] )
            
    print(f'hi level\nboth the same = {len(same_hi)}\nnot the same = {len(not_the_hi)}')
    

'''commonly understandable column names
    >> e.g. Number - Female; Total population, Males per 100 females; Total population - Medi...'''
# 2000 translated column names (current row 0)
b_lo_column_names = [ name for name in bush.iloc[ 0 ] ]
# 2010 translated column names (current row 0)
o_lo_column_names = [ name for name in obama.iloc[ 0 ] ]
# number of names are same 
if len( b_lo_column_names ) == len( o_lo_column_names ):
    # values that are same 
    same_lo = []   
    # values that are not the same
    not_the_lo = []
    # index length
    for _ in range( len( b_lo_column_names ) ):
        # object found at this index in 2000 is not same object at this index in 2010
        if b_lo_column_names[ _ ] != o_lo_column_names[ _ ]:
            # add name to 2000 only list
            not_the_lo.append( [ _ , b_lo_column_names[ _ ] , o_lo_column_names[ _ ] ] )
        else:
            same_lo.append( [ _ , b_lo_column_names[ _ ] , o_lo_column_names[ _ ] ] )
            
    print(f'common\nboth the same = {len(same_lo)}\nnot the same = {len(not_the_lo)}')

'''first row of numbered data 
    >> e.g. 18570, 100.0'''
# 2000 0th row of data (current row 1)
b_0th_real = [ name for name in bush.iloc[ 1 ] ]
# 2010 0th row of data (current row 1)
o_0th_real = [ name for name in obama.iloc[ 1 ] ]

# number of names are same 
if len( b_real_0th ) == len( o_real_0th ):
    # values that are same 
    same_0th = []   
    # values that are not the same
    not_the_0th = []
    # index length
    for _ in range( len( b_real_0th ) ):
        # object found at this index in 2000 is not same object at this index in 2010
        if o_0th_real[ _ ] != b_0th_real[ _ ]:
            # add name to 2000 only list
            not_the_0th.append( [ _ , b_0th_real[ _ ] , o_0th_real[ _ ] ] )
        else:
            same_0th.append( [ _ , b_0th_real[ _ ] , o_0th_real[ _ ] ] )
            
    print(f'data\nboth the same = {len(same_0th)}\nnot the same = {len(not_the_0th)}')

hi level
both the same = 3
not the same = 287
common
both the same = 290
not the same = 0
data
both the same = 13
not the same = 277

- ***notes***:
    - hi level
        - first 3 are the same
            - as expected
    - commonly understandable column names
        - perfect match
            - as expected
    - first row of data
        - less than 4.5% the same
            - about 85% fewer occourances than when testing existance of same instance in other df
        - good
- ***actions***:
    - set column names to commonly understandable column names
    - visualize change from 2000 to 2010

In [107]:
# copy dataframes
# 2000 Census
b = bush.copy()
# 2010 Census
o = obama.copy()

# reset 2000 columns to current 0th row values
b.columns = b.iloc[0]
# new 2000 dataframe without row where values are from
b = b[1:]

# reset 2010 columns to current 0th row values
o.columns = o.iloc[0]
# new 2010 dataframe without row where values are from
o = o[1:]

- ***actions***:
    - find commonalities to compare by
        - Id , Id2 , Geography
            - seem to be good possibilities

In [150]:
try_these = [ 'Id' , 'Id2' , 'Geography' ]

for column_name in try_these:
    print(column_name)
    same = []
    diff = []
    # len 2000 is 58 more than len 2010 
    for _ in range( 1 , len( b[ column_name ] )-58 ):
        if b[ column_name ][ _ ] == o[ column_name ][ _ ]:
            same.append( [_,b[ column_name ][ _ ],o[ column_name ][ _ ]] )
        else:
            diff.append( [_,b[ column_name ][ _ ],o[ column_name ][ _ ]] )
    print(f'same = {len(same)}\ndiff = {len(diff)}')
    i_same = [ instance.pop(0) for instance in same ] 
    print(i_same)

Id
same = 165
diff = 32954
[1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]
Id2
same = 165
diff = 32954
[1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]
Geography
same = 165
diff = 32954
[1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]

In [174]:
# 3 lists just output
by_id = [1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]
by_id2 = [1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]
by_geo = [1, 2, 3, 44, 88, 89, 90, 19635, 19637, 19638, 19639, 19640, 19641, 19642, 19643, 19644, 19645, 19646, 19647, 19648, 19649, 19650, 19651, 19652, 19653, 19743, 19744, 20642, 20643, 20644, 20645, 20646, 20647, 20648, 20649, 20650, 20651, 20652, 20653, 20654, 20655, 20656, 20657, 20658, 20659, 20812, 20813, 20814, 20815, 20816, 20817, 20818, 20819, 20820, 20821, 20822, 20823, 20824, 20825, 20826, 20827, 20828, 20893, 20894, 20895, 20896, 20897, 20898, 20899, 20900, 20901, 20902, 20903, 20904, 20905, 20906, 20907, 20908, 20992, 20993, 20994, 20995, 20996, 20997, 20998, 20999, 21000, 21001, 21002, 21003, 21004, 21005, 21006, 21007, 21008, 21009, 21010, 21011, 21012, 21013, 21014, 21064, 21065, 21066, 21067, 21068, 21069, 21070, 21071, 21072, 21073, 21074, 21075, 21076, 21077, 21078, 21079, 21080, 21081, 21082, 21083, 21084, 21085, 21086, 21087, 21088, 21089, 21090, 21091, 21092, 21093, 21094, 21523, 21524, 21778, 21779, 21780, 21781, 21782, 21783, 21784, 21785, 21786, 21787, 21788, 21789, 21790, 21791, 21792, 21793, 21794, 21839, 21840, 22138, 22146, 22147, 22148, 22149, 22150, 22151, 22152, 22225, 22226, 22227, 22228]

# these lists are the same
if not by_id == by_id2 == by_geo:
    raise Exception('FALSE == by_id == by_id2 == by_geo == False')

# and for those 3 columns* every index value in any list is the same in 2000 and 2010 *(Id, Id2, Geography)
for i in [ by_id , by_id2 , by_geo ]:
    for _ in i:
        # compare Id values
        if b.Id[_] != o.Id[_]:
            # if any don't match 2000 vs 2010
            raise Exception(f'b.Id[_] != o.Id[_]\n{b.Id[_]} != {o.Id[_]}')
        # compare Id2 values
        if b.Id2[_] != o.Id2[_]:
            # if any don't match 2000 vs 2010
            raise Exception(f'b.Id2[_] != o.Id2[_]\n{b.Id2[_]} != {o.Id2[_]}')
        # compare Geography values
        if b.Geography[_] != o.Geography[_]:
            # if any don't match 2000 vs 2010
            raise Exception(f'b.Geography[_] != o.Geography[_]\n{b.Geography[_]} != {o.Geography[_]}')

- ***notes***:
    - why are these values the same?
    - what do they mean/represent?
- ***actions***:
    - answer above

In [268]:
len(o.Geography)

33120

In [304]:
last_5_2000_geo = [ b.Geography[_][-5:] for _ in range( 1 , len(b.Geography)+1) ]
last_5_2010_geo = [ o.Geography[_][-5:] for _ in range( 1 , len(o.Geography)+1) ]

# note the index patterns
if b.Geography[33113][-5:] == last_5_2000_geo[33112] == o.Geography[33062][-5:] == last_5_2010_geo[33061]:
    pass
if b.Geography[33114][-5:] == last_5_2000_geo[33113] == o.Geography[33063][-5:] == last_5_2010_geo[33062]:
    pass
if b.Geography[33112][-5:] == last_5_2000_geo[331111] == o.Geography[33061][-5:] == last_5_2010_geo[33060]:
    pass
else:
    raise Exception('ERROR')

IndexError: list index out of range

In [282]:
# out=[]
# exist=[]
# for _ in last_5_2000_geo:
#     if _ in last_5_2010_geo:
#         exist.append(_)
#     else:
#         out.append(_)
# print(f'in = {len(exist)}\nout = {len(out)}')
33177 + (2*(len(last_5_2010_geo) - len(last_5_2000_geo)))

33061

True

In [226]:
for _ in range(len(o.Geography)): 
    if b.Geography[_][-5:]

'00601'

In [218]:
geo_id = 0
id_id = 0
for _ in range(len(b_metadata)):
    if b_metadata['GEO.id'][_] == o_metadata['GEO.id'][_]:
        geo_id+=1
    if b_metadata['Id'][_] == o_metadata['Id'][_]:
        id_id+=1

# confirms that while encoded column names are not the same, actual column names are the same
if geo_id == 2 and id_id == len(b_metadata):
    pass
else:
    raise Exception(f'ERROR geo_id == 2 == {geo_id == 2} and id_id == len(b_metadata) == {id_id == len(b_metadata)}')

In [ ]:
b_metadata['GEO.id'] , o_metadata['GEO.id']

In [124]:
bush.head()

,GEO.id,GEO.id2,GEO.display-label,HC02_VC01,HC03_VC01,HC04_VC01,HC06_VC01,HC07_VC01,HC08_VC01,HC09_VC01,...,HC07_VC40,HC08_VC40,HC09_VC40,HC02_VC41,HC03_VC41,HC04_VC41,HC06_VC41,HC07_VC41,HC08_VC41,HC09_VC41
0,Id,Id2,Geography,Number - Both sexes; Total population,Number - Male; Total population,Number - Female; Total population,Percent - Both sexes; Total population,Percent - Male; Total population,Percent - Female; Total population,Males per 100 females; Total population,...,Percent - Male; Total population - 75 years an...,Percent - Female; Total population - 75 years ...,Males per 100 females; Total population - 75 y...,Number - Both sexes; Total population - Median...,Number - Male; Total population - Median age (...,Number - Female; Total population - Median age...,Percent - Both sexes; Total population - Media...,Percent - Male; Total population - Median age ...,Percent - Female; Total population - Median ag...,Males per 100 females; Total population - Medi...
1,8600000US00601,00601,ZCTA5 00601,19143,9369,9774,100.0,100.0,100.0,95.9,...,4.3,5.1,80.5,30.3,28.9,32.0,(X),(X),(X),(X)
2,8600000US00602,00602,ZCTA5 00602,42042,20608,21434,100.0,100.0,100.0,96.1,...,3.4,3.7,87.1,31.3,30.4,32.0,(X),(X),(X),(X)
3,8600000US00603,00603,ZCTA5 00603,55530,27271,28259,100.0,100.0,100.0,96.5,...,4.6,5.5,80.7,33.4,31.9,34.8,(X),(X),(X),(X)
4,8600000US00604,00604,ZCTA5 00604,3923,1911,2012,100.0,100.0,100.0,95.0,...,1.9,1.7,108.8,25.2,23.0,27.3,(X),(X),(X),(X)

In [125]:
obama.head()

,GEO.id,GEO.id2,GEO.display-label,SUBHD0101_S01,SUBHD0102_S01,SUBHD0103_S01,SUBHD0201_S01,SUBHD0202_S01,SUBHD0203_S01,HD03_S01,...,SUBHD0202_S40,SUBHD0203_S40,HD03_S40,SUBHD0101_S41,SUBHD0102_S41,SUBHD0103_S41,SUBHD0201_S41,SUBHD0202_S41,SUBHD0203_S41,HD03_S41
0,Id,Id2,Geography,Number - Both sexes; Total population,Number - Male; Total population,Number - Female; Total population,Percent - Both sexes; Total population,Percent - Male; Total population,Percent - Female; Total population,Males per 100 females; Total population,...,Percent - Male; Total population - 75 years an...,Percent - Female; Total population - 75 years ...,Males per 100 females; Total population - 75 y...,Number - Both sexes; Total population - Median...,Number - Male; Total population - Median age (...,Number - Female; Total population - Median age...,Percent - Both sexes; Total population - Media...,Percent - Male; Total population - Median age ...,Percent - Female; Total population - Median ag...,Males per 100 females; Total population - Medi...
1,8600000US00601,00601,ZCTA5 00601,18570,9078,9492,100.0,100.0,100.0,95.6,...,5.0,5.9,81.4,35.9,34.5,37.1,( X ),( X ),( X ),( X )
2,8600000US00602,00602,ZCTA5 00602,41520,20396,21124,100.0,100.0,100.0,96.6,...,4.2,5.2,77.4,37.5,36.6,38.5,( X ),( X ),( X ),( X )
3,8600000US00603,00603,ZCTA5 00603,54689,26597,28092,100.0,100.0,100.0,94.7,...,5.5,7.1,73.4,38.2,36.6,39.8,( X ),( X ),( X ),( X )
4,8600000US00606,00606,ZCTA5 00606,6615,3268,3347,100.0,100.0,100.0,97.6,...,5.2,5.3,96.6,36.2,35.7,36.6,( X ),( X ),( X ),( X )